{
    "minify": true,
    "jsc": {
        "minify": {
          "mangle": true
        }
    },
    "sourceMaps": true,
    "env": {
        "targets": {
            "chrome": "58",
            "ie": "11"
        }
    }
}